/* Typography Style */

/* Proxima Nova Variants*/

/* Black */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 1000;
    font-style: normal;
    src: url('fonts/ProximaNova-Black.otf');
 
}

/* Extra Bold */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    font-style: normal;
    src: url('fonts/ProximaNova-Extrabld.otf');
 
}

/* Bold */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-style: normal;
    src: url('fonts/ProximaNova-Bold.otf');
 
}

/* Semibold */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/ProximaNova-Semibold.otf');
 
}

/* Medium */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: normal;
    src: url('fonts/ProximaNova-Medium.otf');
 
}

/* Regular */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/ProximaNova-Regular.otf');
 
}

/* General Styling */

html { 
    height: 100%;
}

body {
    margin: 0;
    position: relative;
    margin: 60px 0 0 0;
    font-size: 14px;
}

.home-title {
    font-family: Proxima Nova;
    font-weight: 800;
    font-size: 30px;
    color: #383838;
    text-align: center;
    display: block;
    margin: 15px 0 15px 0;

    .help {
        background: none;
        color: red;
        padding: 0;
        display: inline;
    }
    .me {
        background: none;
        color: yellow;
        padding: 0;
        display: inline;
    }
    .choose {
        background: none;
        color: $blue;
        padding: 0;
        display: inline;
    }
}

h1 {
    font-family: Proxima Nova;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #383838;
    margin: 0.5em;
    letter-spacing: 0.02em;
    text-align: center;
}

.home-title {
    font-family: Proxima Nova;
    font-weight: 800;
    font-size: 30px;
    color: #383838;
    text-align: center;
    display: block;
    margin: 15px 0 15px 0;

    .help {
        background: none;
        color: $logoRed;
        padding: 0;
        display: inline;
    }
    .me {
        background: none;
        color: $logoYellow;
        padding: 0;
        display: inline;
    }
    .choose {
        background: none;
        color: $logoBlue;
        padding: 0;
        display: inline;
    }

}

h2 {
    font-family: Proxima Nova;
    font-weight: 700;
    font-size: 26px;
    color: $red;
    margin: 1.5em 1em 1em 0.5em;
    text-transform: uppercase!important;
}

p {
    color: #555555;
    margin: 0 0 1em 0;
}

.about-heading {
    text-align: center;
}

.main {
    position: relative;
    background-color: white;
}

// Program Details Page

.tinted-overlay {
    background: rgba(72, 179, 197, 0.5);
}

.program-heading {
    margin: 0 706px 0 58px;
    top: -100px;
    position: relative;

    h2 {
        padding: 0;
        margin: 0;
        color: white;
    }

    h3 {
        font-family: $font;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: white;
        padding-top: 8px;
    }

}

// Program Details Page

.main-program-content {
    top: 200px;
    padding-bottom: 5em;
    margin-top: -1.5em;

    .breadcrumbs, .breadcrumbs a, {

        font: $font;
        font-weight: 600;
        font-size: 13px;
        padding-bottom: 1.5em;
        letter-spacing: 0.0512em;
        color: $darkBlue;
    }

    .breadcrumbs a:hover {
        text-decoration: none;
        color: #70a1a1;
    }

    h4 {
        font: $font;
        font-weight: 700;
        font-size: 16px;
        color: $darkBlue;
        letter-spacing: 0.0512em;
        padding: 0.5em 0 1em 0;
    }

    p {
        font: $font;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        letter-spacing: 0.0512em;
        margin: 0;
        padding-bottom: 1em;
    }

    #program-desc {

        a {
            font: $font;
            font-weight: 600;
            font-size: 13px;
            margin: 1.5em 0;
            letter-spacing: 0.0512em;
            color: $darkBlue;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: #70a1a1;
        }

    }

    #program-info {

        padding: 1em 0;

        table {
            background-color: $iceBlue;
            border-radius: 10px;
            padding: 2em;
        }

        th, td {
            font: $font;
            color: $darkBlue;
            padding: 1em 1em 0 1em;
            text-align: left;
            margin: 0;
        }

        th {
            font-weight: 600;
            font-size: 16px;
        }

        td {
            font-weight: 400;
            font-size: 16px;
        }

        tr:nth-child(4) td, tr:nth-child(4) th {
            padding: 1em 1em 1em 1em;
        }

        .info-circle {
            font: $font;
            font-weight: 800;
            font-size: 20px;
            text-decoration: none;
            color: #84aeae;
            margin: -0.15em 0.2em;
            cursor: pointer;
        }

    }

    #project-examples {

        .project-card {

            figcaption {
                display: block;
                float: left;
                position: absolute;
                top: 0;
                background-color: rgba(72, 179, 197, 0.8);
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }

            figcaption div {
                text-align: center;
                top: 32%;
                position: relative;
                letter-spacing: 0.0512em;
            }

            figcaption div h4 {
                text-align: center;
                color: white;
                letter-spacing: 0.0512em;
            }

            figure {
                position: relative;
                float: left;
            }   

            figure img {
                border-radius: 8px;
            }
        }

        }

        #program-reqs {

        // requirements tabs

            /* Style the tab */
            div.tab {
                float: left;
                /*border: 1px solid #ccc;*/
                background-color: transparent;
                width: 30%;
                height: 238px;
            }

            /* Style the buttons inside the tab */
            div.tab button {
                font-family: Proxima Nova;
                font-weight: 600;
                font-size: 14px;
                display: block;
                background-color: #F6F6F6;
                color: #337979;
                padding: 14px 16px;
                width: 100%;
                outline: none;
                text-align: left;
                cursor: pointer;
                transition: 0.3s;
                font-size: 17px;
                border: none;
            }

            /* Change background color of buttons on hover */
            div.tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            div.tab button.active {
                background-color: #EDF5F5;
            }

            /* Style the tab content */
            .tabcontent, .reqtabcontent {
                flex-flow: row;
                justify-content: space-evenly;
                float: left;
                padding: 0px 12px;
                /*border: 1px solid #ccc;*/
                background-color: #EDF5F5;
                width: 70%;
                border-left: none;
                height: 215px;
                border-radius: 0 10px 10px 0;
            }

            .reqtabcontent {
                flex-flow: column;
                justify-content: inherit;
            }

            .tabcontent h5, .reqtabcontent h5{
                font-family: Proxima Nova;
                font-weight: 700;
                font-size: 13px;
                color: #337979;
                padding: 2em;
            }

            .tabcontent ul, .reqtabcontent ul{
                list-style: none;
            }

            .tabcontent ul li, .reqtabcontent ul li{
                font-family: Proxima Nova;
                font-weight: 500;
                font-size: 12px;
                padding-bottom: 1em;
                color: #337979;
            }

            .reqtabcontent ul li h5{
                display: inline-block;
                margin: 0;
                padding: 0;
            }

            .reqtabcontent ul li{
                padding-bottom: 2em;
            }

            .reqtabcontent ul {
                padding: 2em;
                margin: 0;
            }
        }

        #career-options {
            
            ul {
                list-style: none;
            }

            ul li {
                font: $font;
                font-weight: 400;
                font-size: 14px;
                color: black;
                padding-bottom: 1em;
                letter-spacing: 0.0512em;
            }

            ul li::before {
                content: "• ";
                color: $darkBlue;
            }


        }     

        #rel-programs {

            p {
                margin-top: 0;
            }
        }

        .browse-more {
            font-family: Proxima Nova;
            font-weight: 700;
            font-size: 14px;
            color: #176767;
            border-radius: 8px;
            background-color: #F2F7F7;
            padding: 1.5em;
            text-align: center;
            cursor: pointer;
            border: none;
        }

}

.featured {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: inline-block;
}

.browse-btn {
    font: Proxima Nova;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 12px;
    width: 180px;
    height: 45px;
    color: #176767;
    background-color: $medBlue;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.browse-btn:hover {
    color: white;
    background-color: $blue;
}

p {
    margin: 0 0 1em 0;
}

.home-heading {
    text-align: center;
}
