// Colours

$blue: #176767;
$lightBlue: #F2F7F7;
$medBlue: rgba(202, 222, 222, 0.4403);
$darkBlue: #337979;
$iceBlue: #EDF5F5;

$gray: #F6F6F6;
$lightGray: #5F5F5F;
$darkGray: #B9B9B9;
$red: #A23B23;

// Fonts

$font: Proxima Nova;