/* Typography Style */

@font-face { /* Proxima Nova as Main Font*/
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/BebasNeue.eot');
    src: url('fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
        url('fonts/BebasNeue.woff2') format('woff2'),
        url('fonts/BebasNeue.woff') format('woff'),
        url('fonts/BebasNeue.ttf') format('truetype');
}
