.main-submit-content {

    padding-bottom: 5em;

    label {
        font-family: $font;
        font-weight: 700;
        font-size: 16px;
        color: $formLabel;
        letter-spacing: 0.05em;
    }

    input, select, select:nth-child(1), textarea {
        background-color: $inputColor;
        border: none;
    }

    input::placeholder, select:nth-child(1), input[type="date"] {
        font-family: $font;
        font-weight: 500;
        font-size: 16px;
        color: $darkGray;
    }

    option {
        background-color: white;
        color: $formLabel;
    }

    .file-upload {

        input[type="file"] {
            background: none;
            background-color: $gray;
            border: none;
            padding: 1rem;
            width: 100%;
        }
    
    }

    .text-container, .file-upload {
        padding: 0 1em;
    }

    .submit-btn {
        font: $font;
        letter-spacing: 0.02em;
        font-weight: 600;
        font-size: 12px;
        width: 180px;
        height: 45px;
        color: #176767;
        background-color: $medBlue;
        border-radius: 4px;
        border: none;
        display: block;
        margin: 0 auto;
        transition: background-color 0.5s;
        transition: color 0.5s;
        margin-top: 1.5em;
    }

    .submit-btn:hover {
        color: white;
        background-color: $blue;
    }
}