#program-reqs{

// requirements tabs

    /* Style the tab */
    div.tab {
        float: left;
        /*border: 1px solid #ccc;*/
        background-color: transparent;
        width: 30%;
        height: 238px;
    }

    /* Style the buttons inside the tab */
    div.tab button {
        font-family: Proxima Nova;
        font-weight: 600;
        font-size: 14px;
        display: block;
        background-color: #F6F6F6;
        color: #337979;
        padding: 14px 16px;
        width: 100%;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
        border: none;
    }

    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    div.tab button.active {
        background-color: #EDF5F5;
    }

    /* Style the tab content */
    .tabcontent, .reqtabcontent {
        flex-flow: row;
        justify-content: space-evenly;
        float: left;
        padding: 0px 12px 1em 12px;
        /*border: 1px solid #ccc;*/
        background-color: #EDF5F5;
        width: 70%;
        border-left: none;
        height: 215px;
        border-radius: 0 10px 10px 0;
    }

    .reqtabcontent {
        flex-flow: column;
        justify-content: inherit;
    }

    .tabcontent h5, .reqtabcontent h5{
        font-family: Proxima Nova;
        font-weight: 700;
        font-size: 13px;
        color: #337979;
        padding: 2em;
    }

    .tabcontent ul, .reqtabcontent ul{
        list-style: none;
    }

    .tabcontent ul li, .reqtabcontent ul li{
        font-family: Proxima Nova;
        font-weight: 500;
        font-size: 12px;
        padding-bottom: 1em;
        color: #337979;
    }

    .reqtabcontent ul li h5{
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .reqtabcontent ul li{
        padding-bottom: 1.2em;
    }

    .reqtabcontent ul {
        padding: 2em;
        margin: 0;
    }
}